#### Diplomado en Ciencia de Datos
M√≥dulo 2: Business Intelligence  
## **Tema 1: Niveles de Medida y Agregaci√≥n**

*Notebook by [Pedro V Hernandez Serrano](https://github.com/pedrohserrano)*

---
![](../img/header.jpg)

# Niveles de medida

En matem√°ticas y estad√≠stica, **el nivel de medida de una variable es una clasificaci√≥n acordada con el fin de describir la naturaleza de la informaci√≥n contenida dentro de los n√∫meros asignados a los objetos** y, por lo tanto, dentro de una variable (Salkind, N. J., 1998)

Entender el nivel de medida de una variable es importante en la visualizaci√≥n de datos porque determina los tipos de visualizaciones y operaciones estad√≠sticas que se pueden aplicar.

# Niveles de agregaci√≥n

La agregaci√≥n de datos se refiere al **proceso de transformar datos individuales a un formato resumido mediante la aplicaci√≥n de operaciones como agrupaci√≥n, suma, promedio o recuento**. Esto se logra mediante m√©todos como "group by" o "pivot", que organizan y condensan puntos de datos individuales en una descripci√≥n general de nivel superior, lo que facilita la identificaci√≥n de patrones, tendencias y perspectivas en diferentes categor√≠as o dimensiones. Permitiendo un an√°lisis y una visualizaci√≥n m√°s eficiente.

**The Pandas Cheatsheet (el acordeon de la paqueter√≠a pandas)**.  

‚úÖ [Data Wrangling with Pandas](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)

---
## Regla general para agrupar en Python

```python
______.groupby('categorical_____')['numerical_____'].agg(['operation_____'])

# Example
dataset.groupby('continent')['lifeExp'].agg(['mean'])
```

## The Data: Global flows

Para este notebook, usaremos el [ejemplo de Gapminder](https://www.gapminder.org/fw/world-health-chart/), un dataset que ya est√° contenido en la biblioteca de Plotly, pero tambi√©n en un CSV en este repo. El dataset contiene informaci√≥n sobre la esperanza de vida, la poblaci√≥n y el PIB per c√°pita de los pa√≠ses por a√±o.

Este dataset se hizo famoso ya que se ha utilizado constantemente para ilustrar el poder de la visualizaci√≥n de datos en diferentes conferencias, presentaciones, paneles e infograf√≠as.

Aqu√≠ abajo hay un video que explica los datos de Gapminder en un buen ejercicio de visualizaci√≥n de datos en la vida real (haz clic en reproducir ‚ñ∫).  
Tambi√©n te dejo un enlace al video.

In [4]:
import pandas as pd
dataset = pd.read_csv('./data/gapminder_data_world_health.csv')

In [5]:
dataset

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4
...,...,...,...,...,...,...,...,...
1699,Zimbabwe,Africa,1987,62.351,9216418,706.157306,ZWE,716
1700,Zimbabwe,Africa,1992,60.377,10704340,693.420786,ZWE,716
1701,Zimbabwe,Africa,1997,46.809,11404948,792.449960,ZWE,716
1702,Zimbabwe,Africa,2002,39.989,11926563,672.038623,ZWE,716
1703,Zimbabwe,Africa,2007,43.487,12311143,469.709298,ZWE,716

# EJERCICIO 1

1. Describe las variables del dataset en los correspondientes tipos de datos y medidas. 
- Cuales variables son categoricas y cuales son num√©ricas?
- Cuales son continuas de intervalo, continuas de ratio, nominales y ordinales?

2. Utiliza la funci√≥n de pandas `dataset.dtypes`
- Describe cual es la relaci√≥n entre los "data types" que utiliza pandas y las que describiste el el punto anterior

In [6]:
Categ√≥ricas: country, continent, iso_alpha
Num√©ricas: year, lifeExp, pop, gdpPercap, iso_num

Continuas de intervalo: pop, lifeExp, gdpPercap
continuas de ratio:  iso_num, year

nominales: no hay
ordinales: country, continent, iso_alpha

SyntaxError: invalid syntax (2313196912.py, line 1)

In [7]:
dataset.dtypes

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
iso_alpha     object
iso_num        int64
dtype: object

In [9]:
- Describe cual es la relaci√≥n entre los "data types" que utiliza pandas y las que describiste el el punto anterior
Las variables categoricas coinciden con que son un tipo no num√©rico y las num√©ricas si coinciden con el tipo de dato similar.
con respecto a las variables num√©ricas pareceriera que las continuas de ratio coinciden con el tipo de dato entero mientras que las continuas de intervalo con el tipo flotante.

SyntaxError: invalid syntax (2913701078.py, line 1)

# EJERCICIO 2

- Utiliza la funci√≥n `groupby` para agrupar los datos por continente y calcula el promedio de la columna `lifeExp` (esperanza de vida) para cada grupo.

In [10]:
# ______.groupby('categorical_____')['numerical_____'].agg(['operation_____'])

dataset.groupby('continent')['lifeExp'].agg(['mean'])

                mean
continent
Africa     48.865330
Americas   64.658737
Asia       60.064903
Europe     71.903686
Oceania    74.326208

# EJERCICIO 3

- Extiende el ejercicio anterior para que, adem√°s del promedio de `lifeExp`, tambi√©n calcules el valor m√°ximo y m√≠nimo de la esperanza de vida para cada continente.

In [12]:
# ______.groupby('categorical_____')['numerical_____'].agg(['operation_____'])

dataset.groupby('continent')['lifeExp'].agg(['mean','max', 'min'])
#dataset.groupby('continent').agg({'lifeExp': ['mean'], })

                mean     max     min
continent
Africa     48.865330  76.442  23.599
Americas   64.658737  80.653  37.579
Asia       60.064903  82.603  28.801
Europe     71.903686  81.757  43.585
Oceania    74.326208  81.235  69.120

# EJERCICIO 4

- Crea una tabla din√°mica (pivot table) que muestre el promedio de `lifeExp` para cada continente (filas), con los a√±os como columnas  
Nota: ve los ejemplos de como se usa la funci√≥n `pivot_table` de pandas. [Ejemplos](https://pandas.pydata.org/docs/reference/api/pandas.pivot_table.html)

In [14]:

pd.pivot_table(dataset, values=['lifeExp'], index=['continent'], aggfunc="mean")

             lifeExp
continent
Africa     48.865330
Americas   64.658737
Asia       60.064903
Europe     71.903686
Oceania    74.326208

# EJERCICIO 5 

- Agrupa los datos por continente y calcula la suma de la columna `iso_num` para cada grupo.  
Reflexiona sobre el significado de esta suma en el contexto de los datos.

In [15]:
# ______.groupby('categorical_____')['numerical_____'].agg(['operation_____'])

dataset.groupby('continent')['iso_num'].agg(['sum'])

              sum
continent
Africa     286308
Americas   118116
Asia       160248
Europe     153948
Oceania      7080

## üéâüéâ Congrats!!  

## You've finished the notebook