In [20]:
import pandas as pd
import numpy as np
dataset = pd.read_csv('/app/my_data/students_diplomado_data_science_fmat/class_of_2024/Natasha_Baeza/gapminder_data_world_health.csv')

In [21]:
dataset

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4
...,...,...,...,...,...,...,...,...
1699,Zimbabwe,Africa,1987,62.351,9216418,706.157306,ZWE,716
1700,Zimbabwe,Africa,1992,60.377,10704340,693.420786,ZWE,716
1701,Zimbabwe,Africa,1997,46.809,11404948,792.449960,ZWE,716
1702,Zimbabwe,Africa,2002,39.989,11926563,672.038623,ZWE,716
1703,Zimbabwe,Africa,2007,43.487,12311143,469.709298,ZWE,716

### Ejercicio 1

1.1 Describe las variables del dataset en los correspondientes tipos de datos y medidas.
Cuales variables son categoricas y cuales son numéricas?
Cuales son continuas de intervalo, continuas de ratio, nominales y ordinales?

Las variables son:

*Categóricas*:
- Nominales: Country, Continent, iso_alpham iso_num
- Ordinales: No hay, ninguna requiere un orden específico

*Numéricas*
- Continuas de intervalo: year (No se tiene un 0 absoluto)
- Continuas de ratio: lifeExp,pop, gdppercap (Sí tiene un 0 absoluto que representa la ausencia en vida, población e ingresos)

1.2 Utiliza la función de pandas dataset.dtypes
Describe cual es la relación entre los "data types" que utiliza pandas y las que describiste el el punto anterior

In [22]:
dataset.dtypes

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
iso_alpha     object
iso_num        int64
dtype: object

Las variables que pandas almacena como object son las categóricas nominales las cuales se etiquetan como cadenas de texto
Las variables int64 o float64 al igual que lo descrito en el punto anterior tienen un cero significativo

## Ejercicio 2

Utiliza la función groupby para agrupar los datos por continente y calcula el promedio de la columna lifeExp (esperanza de vida) para cada grupo

In [45]:
Promlifeexp=dataset.groupby('continent').agg({'lifeExp': 'mean'})

In [48]:
Promlifeexp=Promlifeexp.round(1)
Promlifeexp

           lifeExp
continent
Africa        48.9
Americas      64.7
Asia          60.1
Europe        71.9
Oceania       74.3

## Ejercicio 3

Extiende el ejercicio anterior para que, además del promedio de lifeExp, también calcules el valor máximo y mínimo de la esperanza de vida para cada continente.

In [36]:
dataset.groupby('continent').agg(

Promlifeexp=pd.NamedAgg(column='lifeExp', aggfunc=lambda x: np.round(np.mean(x), 1)),
Maxlifeexp=pd.NamedAgg(column='lifeExp', aggfunc=lambda x: np.round(np.max(x), 1)),
Minlifeexp=pd.NamedAgg(column='lifeExp', aggfunc=lambda x: np.round(np.min(x), 1)),
)

           Promlifeexp  Maxlifeexp  Minlifeexp
continent
Africa            48.9        76.4        23.6
Americas          64.7        80.7        37.6
Asia              60.1        82.6        28.8
Europe            71.9        81.8        43.6
Oceania           74.3        81.2        69.1

## Ejercicio 4

- Crea una tabla dinámica (pivot table) que muestre el promedio de `lifeExp` para cada continente (filas), con los años como columnas

In [40]:
TableLifeExp = dataset.pivot_table(values='lifeExp', index=['continent'],
                       columns=['year'], aggfunc=np.mean)

In [41]:
TableLifeExp = TableLifeExp.round(1)

In [42]:
TableLifeExp

year,1952,1957,1962,1967,1972,1977,1982,1987,1992,1997,2002,2007
continent,,,,,,,,,,,,
Africa,39.1,41.3,43.3,45.3,47.5,49.6,51.6,53.3,53.6,53.6,53.3,54.8
Americas,53.3,56.0,58.4,60.4,62.4,64.4,66.2,68.1,69.6,71.2,72.4,73.6
Asia,46.3,49.3,51.6,54.7,57.3,59.6,62.6,64.9,66.5,68.0,69.2,70.7
Europe,64.4,66.7,68.5,69.7,70.8,71.9,72.8,73.6,74.4,75.5,76.7,77.6
Oceania,69.3,70.3,71.1,71.3,71.9,72.9,74.3,75.3,76.9,78.2,79.7,80.7

## Ejercicio 5

Agrupa los datos por continente y calcula la suma de la columna iso_num para cada grupo.
Reflexiona sobre el significado de esta suma en el contexto de los datos.

In [50]:
SumIsoNum=dataset.groupby('continent').agg({'iso_num': 'sum'})

In [51]:
SumIsoNum

           iso_num
continent
Africa      286308
Americas    118116
Asia        160248
Europe      153948
Oceania       7080

La variable Iso_num es un identificador de cada pais, la suma no agrega valor ya que solo es la suma de los indicadores agrupados por cada continente, para una mejor comprension de los datos da mayor visibilidad los datos como promedio de esperanza de vida o el max y min, en todo caso un dato interesante podria ser la suma de habitantes o promedio de habitantes y tambien el ingreso combinado con la esperanza de vida

In [58]:
dataset.groupby('continent').agg(

Promlifeexp=pd.NamedAgg(column='lifeExp', aggfunc=lambda x: np.round(np.mean(x), 1)),
SumPoblacion=pd.NamedAgg(column='pop', aggfunc=lambda x: np.round(np.sum(x), 1)),
PromIngreso=pd.NamedAgg(column='gdpPercap', aggfunc=lambda x: np.round(np.mean(x), 2)),
)

           Promlifeexp  SumPoblacion  PromIngreso
continent
Africa            48.9    6187585961      2193.75
Americas          64.7    7351438499      7136.11
Asia              60.1   30507333901      7902.15
Europe            71.9    6181115304     14469.48
Oceania           74.3     212992136     18621.61

Lo anterior se observa que la Esperanza de vida de Africa es muy baja y su ingreso es mucho menor a cualquiera de los otros continentes, algo adicional a explorar pero por el PIB puede dar indicarnos que pobreza y falta de ingresos para salud son posibles variables que influyen en la esperanza de vida de la poblacion

In [55]:
#Adicional solamente para comprobar que cada isonum es diferente por pais

Distinct = dataset[['country', 'iso_num']].drop_duplicates()
print(Distinct)

                 country  iso_num
0            Afghanistan        4
12               Albania        8
24               Algeria       12
36                Angola       24
48             Argentina       32
...                  ...      ...
1644             Vietnam      704
1656  West Bank and Gaza      275
1668         Yemen, Rep.      887
1680              Zambia      894
1692            Zimbabwe      716

[142 rows x 2 columns]