#### Diplomado en Ciencia de Datos
M√≥dulo 2: Business Intelligence  
## Tema 4: Consideraciones √âticas

*Notebook by [Pedro V Hernandez Serrano](https://github.com/pedrohserrano)*

---
![](../img/header.jpg)

# Consideraciones √©ticas en el uso de Algor√≠tmos de Similitud

Los algoritmos de similitud miden cu√°n parecidos son dos objetos en funci√≥n de caracter√≠sticas espec√≠ficas, como en las distancias Euclidiana, Manhattan o la Similitud Coseno. Sin embargo, **es importante considerar el contexto y las implicaciones √©ticas al definir "similitud"**. La interpretaci√≥n de similitud puede ser problem√°tica cuando se asume que caracter√≠sticas seleccionadas (como ingresos o nivel educativo) son suficientes para capturar la esencia de los datos. En aplicaciones como contrataci√≥n o an√°lisis de cr√©dito, esta suposici√≥n puede llevar a decisiones injustas o discriminatorias.

La relevancia contextual tambi√©n es clave: **lo que define similitud en un contexto (como investigaci√≥n m√©dica) puede no ser adecuado en otro (como marketing), y no considerar estas diferencias puede llevar a conclusiones err√≥neas**. Finalmente, el impacto en la toma de decisiones es cr√≠tico. Los algoritmos de similitud influyen en decisiones importantes y deben evitar causar da√±o a grupos o individuos. Asumir que dos objetos similares en un espacio matem√°tico son iguales en la vida real puede tener graves consecuencias si no se toma en cuenta el contexto.

Al utilizar estos algoritmos, es fundamental reflexionar sobre el impacto de las decisiones basadas en ellos para garantizar que no refuercen desigualdades ni causen da√±os involuntarios.

**Original blog implementing the most popular similarity algorithms**  

‚úÖ [dataaspirant.com](https://dataaspirant.com/five-most-popular-similarity-measures-implementation-in-python/)

![](https://i0.wp.com/dataaspirant.com/wp-content/uploads/2015/04/cover_post_final.png?w=1000&ssl=1)

---
# EJERCICIO 1

- Desarrolla una funcion en Python que calcule la [distancia euclidiana](https://www.google.com/search?sca_esv=08fa89593227d7c4&sca_upv=1&sxsrf=ADLYWILxL5ZB2RJ2Ur94L62oXEBk5CorNg:1725814856550&q=euclidean+distance+formula&source=lnms&fbs=AEQNm0Aa4sjWe7Rqy32pFwRj0UkWd8nbOJfsBGGB5IQQO6L3J_86uWOeqwdnV0yaSF-x2joQcoZ-0Q2Udkt2zEybT7HdNV1kobqvEwEVRYBCltlBtd67W1w89UVGf7QOAkvJWcD0qzhOT-WizJ4nyd1QOGdS_33AboApQh8NDOYXDdgzT_HrFjEfW4zkALzuIfB9KacfX-PQ&sa=X&ved=2ahUKEwiMteOr6bOIAxVX9rsIHW25HdMQ0pQJegQIDRAB&biw=1920&bih=974&dpr=1)
- Prueba la funci√≥n con los siguientes vectores:  
 `v1 = [0,1,2,5,6]`  
 `v2 = [0,2,3,5,7]`  
- El resultado debe ser aprox `1.73`

In [17]:
import math

def distancia_euclidiana(x, y):
    if len(x) != len(y):
        raise ValueError("Los puntos deben tener la misma dimensi√≥n.")
    
    suma_cuadrados = sum((p1 - p2) ** 2 for p1, p2 in zip(x, y))
    return math.sqrt(suma_cuadrados)

# Ejemplo de uso con listas
v1 = [0, 1, 2, 5, 6]
v2 = [0, 2, 3, 5, 7]
distancia = distancia_euclidiana(v1, v2)
print(f"La distancia euclidiana entre {v1} y {v2} es {distancia:.2f}")

La distancia euclidiana entre [0, 1, 2, 5, 6] y [0, 2, 3, 5, 7] es 1.73

---
# EJERCICIO 2

- Desarrolla una funcion en Python que calcule la [distancia manhattan](https://www.google.com/search?q=manhattan+distance+formula&sca_esv=08fa89593227d7c4&sca_upv=1&biw=1920&bih=974&ei=V9jdZtmAEoiwi-gP-9nf-AI&oq=euclidean+distance+formula&gs_lp=Egxnd3Mtd2l6LXNlcnAiGmV1Y2xpZGVhbiBkaXN0YW5jZSBmb3JtdWxhKgIIADIKEAAYsAMY1gQYRzIKEAAYsAMY1gQYRzIKEAAYsAMY1gQYRzIKEAAYsAMY1gQYRzIKEAAYsAMY1gQYRzIKEAAYsAMY1gQYRzIKEAAYsAMY1gQYRzIKEAAYsAMY1gQYRzINEAAYgAQYsAMYQxiKBTINEAAYgAQYsAMYQxiKBUiLElAAWABwAngBkAEAmAEAoAEAqgEAuAEDyAEAmAICoAIQmAMAiAYBkAYKkgcBMqAHAA&sclient=gws-wiz-serp)
- Prueba la funci√≥n con los siguientes vectores:  
 `v1 = [0,1,2,5,6]`  
 `v2 = [0,2,3,5,7]`  
- El resultado debe ser `3`

In [21]:
def distancia_manhattan(x, y):

    if len(x) != len(y):
        raise ValueError("Los puntos deben tener la misma dimensi√≥n.")
    
    suma_absoluta = sum(abs(p1 - p2) for p1, p2 in zip(x, y))
    return suma_absoluta

# Ejemplo de uso con listas
v1 = [0, 1, 2, 5, 6]
v2 = [0, 2, 3, 5, 7]
distancia = distancia_manhattan(v1, v2)
print(f"La distancia de Manhattan entre {v1} y {v2} es {distancia:.2f}")

La distancia de Manhattan entre [0, 1, 2, 5, 6] y [0, 2, 3, 5, 7] es 3.00

---
# EJERCICIO 3 (Opcional)

- Desarrolla una funcion en Python que calcule la [distancia coseno](https://en.wikipedia.org/wiki/Cosine_similarity)
- Prueba la funci√≥n con los siguientes vectores:  
 `v1 = [0,1,2,5,6]`  
 `v2 = [0,2,3,5,7]`  
- El resultado debe ser `0.99`

## Constructing a Similarity Network from a Dataset

The idea is to compute one similarity alorithm N*N times across the dataset, then take the top M similar records and constructa network

In [23]:
import pandas as pd

dataset = pd.read_csv("../data/gapminder_data_world_health.csv")
dataset.head(5)

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4

---
# EJERCICIO 4

Con los datos de `gapminder_data_world_health.csv` utiliza el siguiente subset de la tabla como se muestra a continuaci√≥n (es un query de el a√±o 2007 en el que se tiene la esperanza de vida y la poblaci√≥n indexada por pa√≠s)

In [31]:
df = dataset[dataset['year'] == 2007].set_index('country')
df = df[['lifeExp', 'pop']]
df.head(10)

             lifeExp        pop
country
Afghanistan   43.828   31889923
Albania       76.423    3600523
Algeria       72.301   33333216
Angola        42.731   12420476
Argentina     75.320   40301927
Australia     81.235   20434176
Austria       79.829    8199783
Bahrain       75.635     708573
Bangladesh    64.062  150448339
Belgium       79.441   10392226

- **Utiliza el m√©todo Min-Max** para normalizar los vectores de Esperanza de vida y de Poblaci√≥n, una vez que apliquemos las funciones de similitud es mejor tener los vectores en las misma escala: [Ejemplo aqu√≠](https://www.geeksforgeeks.org/data-normalization-with-pandas/)

In [35]:
# apply normalization techniques 
for column in df.columns: 
    df[column] = (df[column] - df[column].min()) / (df[column].max() - df[column].min())     
  
# view normalized data 
df.head()

              lifeExp       pop
country
Afghanistan  0.098046  0.024035
Albania      0.856246  0.002579
Algeria      0.760363  0.025130
Angola       0.072528  0.009269
Argentina    0.830589  0.030416

---
# EJERCICIO 5

**Crea un un nuevo dataset con los 3 paises m√°s cercanos a cada pa√≠s**, es decir un **dataset de 
distancias**, el resultado que se busca es como se ve en la imagen. Utilizar√°s el subset normalizado (ejercicio 4) para ello y una de las funciones que creaste (manhattan, euclideana o coseno)

![](../img/distancias.png)

**C√≥mo crear el dataset de distancias?**
- Por cada pa√≠s, necesitas calcular la distancia entre √©l y todos los dem√°s pa√≠ses en el DataFrame. Evitando comparar cada pa√≠s consigo mismo.
- Cada iteraci√≥n corresponde a cada pa√≠s comparado, el pa√≠s al que se le calcul√≥ la distancia, y la distancia entre ambos. (hint: una lista de tuplas o diccionarios puede ser √∫til aqu√≠)
- Despu√©s de hacer todas las comparaciones, convierte los resultados en un DataFrame con tres columnas: `nodeA`, `nodeB`, `distance`.
- Para cada pa√≠s (nodeA), agrupa las distancias calculadas y ord√©nalas de menor a mayor. Se quiere unicamente los tres pa√≠ses m√°s cercanos a cada pa√≠s (distancias m√°s peque√±as para cada pa√≠s)
- No olvides revisar los resultados una vez que tengas la tabla final con los 3 pa√≠ses m√°s cercanos para cada pa√≠s

In [ ]:
import math

def distancia_euclidiana(x, y):
    if len(x) != len(y):
        raise ValueError("Los puntos deben tener la misma dimensi√≥n.")
    
    suma_cuadrados = sum((p1 - p2) ** 2 for p1, p2 in zip(x, y))
    return math.sqrt(suma_cuadrados)

In [41]:
## dataframe 

# Crear una tabla con las distancias euclidianas entre cada pa√≠s
def tabla_distancias(df):
    paises = df.index
    distancias = []

    for i in paises:
        for j in paises:
            if i != j:
                # Calcular la distancia euclidiana entre los pa√≠ses i y j
                distancia = distancia_euclidiana(df.loc[i], df.loc[j])
                distancias.append([i, j, distancia])
    
    # Crear DataFrame con tres columnas: pa√≠s de origen, pa√≠s destino y la distancia
    distancias_df = pd.DataFrame(distancias, columns=['Pais_Origen', 'Pais_Destino', 'Distancia'])
    return distancias_df

   Pais_Origen Pais_Destino  Distancia
0  Afghanistan      Albania   0.758503
1  Afghanistan      Algeria   0.662318
2  Afghanistan       Angola   0.029482
3  Afghanistan    Argentina   0.732570
4  Afghanistan    Australia   0.870176
5  Afghanistan      Austria   0.837620
6  Afghanistan      Bahrain   0.740248
7  Afghanistan   Bangladesh   0.479180
8  Afghanistan      Belgium   0.828562

In [43]:
tabla_dist = tabla_distancias(df)

# Mostrar la tabla de distancias
tabla_dist.head(9)

   Pais_Origen Pais_Destino  Distancia
0  Afghanistan      Albania   0.758503
1  Afghanistan      Algeria   0.662318
2  Afghanistan       Angola   0.029482
3  Afghanistan    Argentina   0.732570
4  Afghanistan    Australia   0.870176
5  Afghanistan      Austria   0.837620
6  Afghanistan      Bahrain   0.740248
7  Afghanistan   Bangladesh   0.479180
8  Afghanistan      Belgium   0.828562

In [75]:
## top 3 distances 

def top_3_distancias_por_origen(tabla_dist):
    # Clasificar los pa√≠ses destino por distancia para cada pa√≠s de origen
    tabla_dist['Rank'] = tabla_dist.groupby('Pais_Origen')['Distancia'].rank(method='first')
    
    # Filtrar para obtener solo los top n destinos m√°s cercanos
    top_3_distancias = tabla_dist[tabla_dist['Rank'] <= 3].copy()
    
    # Ordenar por pa√≠s de origen y ranking
    top_3_distancias = top_3_distancias[['Pais_Origen', 'Pais_Destino', 'Distancia']].sort_values(by=['Pais_Origen', 'Distancia'])
    top_3_distancias = top_3_distancias.rename(columns={
    'Pais_Origen': 'nodeA',
    'Pais_Destino': 'nodeB',
    'Distancia': 'distance'
    })
    
    return top_3_distancias

# Obtener el DataFrame con los top 3 destinos m√°s cercanos para cada pa√≠s
df_top3 = top_3_distancias_por_origen(tabla_dist)
df_top3.head(9)

           nodeA                     nodeB  distance
140  Afghanistan                  Zimbabwe  0.016835
2    Afghanistan                    Angola  0.029482
20   Afghanistan  Central African Republic  0.029778
275      Albania                   Uruguay  0.000915
245      Albania                   Reunion  0.002171
173      Albania            Czech Republic  0.005236
387      Algeria                   Romania  0.009322
400      Algeria                 Sri Lanka  0.010071
390      Algeria              Saudi Arabia  0.011895

In [79]:
df_top3[df_top3['nodeA'] == 'Mexico']

        nodeA      nodeB  distance
11698  Mexico    Vietnam  0.048632
11663  Mexico     Poland  0.055223
11566  Mexico  Argentina  0.055727

---
# EJERCICIO 6

Reproduce el siguiente script.   
El script utiliza la libreria `networkx` y `plotly` para visualizar una gr√°fica de red (network plot) visualizando la distancia (similitud) entre los paises basado en esperanza de vida y poblaci√≥n.  

**Nota:** Si el dataframe del ejercicio anterior no es correcto, la visualizaci√≥n no va a funcionar.

**Responde lo siguiente:**
- Cuales son los pa√≠ses m√°s similares a M√©xico? **Vietnam, Polonia y Argentina**
- Explica cuales ser√≠an las consideraciones √©ticas al decir que M√©xico es similar a esos pa√≠ses en el contexto de las variables `lifeExp` y `pop`, dando contexto de el a√±o seleccionado y del significado de la funcion de similitud utilizada

In [84]:
df_network = df_top3.copy()

In [86]:
import networkx as nx

#Empty graph object
g = nx.Graph()

# Adding all nodes
g.add_nodes_from(list(df_network.nodeA.unique()))

# Adding all edges
edges_list = [(row[1][0],row[1][1],row[1][2]) for row in df_network.iterrows()]
g.add_weighted_edges_from(edges_list)

In [88]:
import plotly.graph_objects as go

pos = nx.spring_layout(g, dim=2, iterations=10, weight='weight', scale=2)

# Create a DataFrame for nodes
node_x = []
node_y = []
for node in g.nodes():
    x, y = pos[node]
    node_x.append(x)
    node_y.append(y)

# Create a DataFrame for edges
edge_x = []
edge_y = []
for edge in g.edges():
    x0, y0 = pos[edge[0]]
    x1, y1 = pos[edge[1]]
    edge_x.append(x0)
    edge_x.append(x1)
    edge_x.append(None)  # For a break between edges
    edge_y.append(y0)
    edge_y.append(y1)
    edge_y.append(None)  # For a break between edges

# Create the plot
fig = go.Figure()

# Add edges to the plot
fig.add_trace(go.Scatter(x=edge_x, y=edge_y,
                         line=dict(width=0.5, color='gray'),
                         hoverinfo='none',
                         mode='lines'))

# Add nodes to the plot
fig.add_trace(go.Scatter(x=node_x, y=node_y,
                         mode='markers+text',  # Show both markers and labels
                         marker=dict(size=10, color='#9500ff'),
                         text=[str(node) for node in g.nodes()],  # Add node labels
                         textposition='top center',
                         hoverinfo='text'))

# Update layout for better aesthetics and set figure size
fig.update_layout(
    showlegend=False,
    xaxis=dict(showgrid=False, zeroline=False),
    yaxis=dict(showgrid=False, zeroline=False),
    plot_bgcolor='white',
    width=1200,  # Set the figure width
    height=1500   # Set the figure height
)

# Display the plot
fig.show()

ModuleNotFoundError: No module named 'plotly'

La gr√°fica debe quedar como se ve en la imagen.   
![](../img/countries_similarities.png)

## üéâüéâ Congrats!!  

## You've finished the notebook